$black: #000000;
$brightBlack: #808080;
$blue: #000080;
$brightBlue: #0000ff;
$cyan: #008080;
$brightCyan: #00ffff;
$green: #008000;
$brightGreen: #00ff00;
$purple: #800080;
$brightPurple: #ff00ff;
$red: #800000;
$brightRed: #ff0000;
$yellow: #808000;
$brightYellow: #ffff00;
$white: #c0c0c0;
$brightWhite: #ffffff;

$background-color: $black;
$primary-color: $white;
$secondary-color: $brightBlack;
$selection-color: $brightWhite;
$forbidden-color: $brightYellow;
$forbidden-background: $brightRed;

$primary-font: "IBMVGA8x16";
$secondary-font: monospace;
